/* 放index页面的样式表 */
.shortcut{
	background-color: #333;
}
.shortcut .wrapper{
	height: 52px;
}
.shortcut .wrapper ul{
	float: right;
}
.shortcut .wrapper li{
	float: left;
	line-height: 52px;
	/* margin-right:15px ;
	margin-top: 15px; */
}

.shortcut .wrapper li a{
	padding:0 16px;
	border-right: 1px solid #5a5a5a;
	
	font-size: 14px;
	color:#fff; ;
}

.shortcut .wrapper a span{
	display: inline-block;
	width: 11px;
	height: 16px;
	margin-right:8px ;
	background: url("../images/sprites.png");
	background-position: -160px -70px;
	vertical-align: middle;
}
/* 目录 */
.header{
	margin: 30px auto;
	height:70px;
}
.header .logo {
	float: left;
	width: 207px;
	height: 70px;
}

.header .logo img{
	width: 207px;
	height: 70px;
}

.header .nav ul{
	float: right;
	line-height: 70px;
}

.header .nav li{
	float: left;
	margin-right:48px ;
}

.header .nav li a:hover{
	border-bottom: 2px solid #27ba9b;
}

.header .nav{
	float: left;
	margin-left: 40px;
}

.search{
	position: relative;
}

.header .search{
	float: left;
	margin-top:24px ;
	margin-left:34px ;
    width: 172px;
	height: 30px;
	border-bottom: 2px solid #e7e7e7;
}

.search input{
	padding-left: 30px;
	width: 170px;
	height: 28px;
}

.search input::placeholder{
	color: #ccc;
	font-size: 14px;
}

.search button{
	position: absolute;
	left: 2px;
	top: 2px;
	display: inline-block;
	float: left;
	width: 18px;
	height: 18px;
	background-color: red;
	background: url("../images/sprites.png");
	background-position: -79px -69px;
    vertical-align: middle;
	border: 0;
}

.header .car{
	position: relative;
	margin-top:28px ;
	float: left;
	width: 23px;
	height: 23px;
	
	background: url("../images/sprites.png");
	background-position: -119px -69px;
	vertical-align: middle;
}

.car span{
	position: absolute;
	right: -13px;
	top: -5px;
	width: 20px;
	height: 15px;
	background-color: red;
	border-radius: 8px;
	
	font-size: 14px;
	color: #fff;
	text-align: center;
	line-height: 15px;
}



/* 版权部分 */
.footer{
	height: 342px;
	background-color: #333;
}

.wrapper{
}

.footer .top{
	padding-top: 59px;
	padding-left: 135px;
	height: 175px;
	border-bottom: 3px solid #434343;
}

.footer  .top li{
	position: relative;
	margin-right: 200px;
	float: left;
	color: orange;
	width: 195px;
	height:58px ;
	line-height: 58px;
}

.footer  .top li:last-child{
	margin-right: 0;
}

.footer  .top li::before{
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	content: '';
	background-image: url("../images/sprites.png");
	width: 58px;
	height: 58px;
	vertical-align: middle;
}

.footer .top li span{
	margin-left:77px ;
	font-size: 28px;
	color: #ffffff;
}
.footer .top li:nth-child(2)::before{
	background-position: -64px 0;
}
.footer .top li:nth-child(3)::before{
	background-position: -130px 0;
}
.bottom{
	padding-top: 40px;
	text-align: center;
}

.bottom a{
	padding-right: 10px;
	border-right: 1px solid #434343;
	
	font-size: 14px;
	color: #999999;
}
.bottom p{
	margin-top: 20px;
	color: #999999;
}

/* 内容 */
.user{
	position: relative;
	height: 500px;
	
	/* background-image: url("../uploads/banner_1.png"); */
}
.user img{
	float: left;
}
.user .left{
	float: left;
	    width: 250px;
		height: 500px;
		background-color: #000000;
		opacity: 0.8;
}
.user .left ul li{
	height: 50px;
	/* margin: 22px 19px 21px 30px; */
	line-height: 50px;
	color: #ffffff;
}
.user .left ul li:hover{
	background-color: #27ba9b;
}
.user .left ul li :nth-child(10){
	margin-bottom: 0;
}

.user .left ul li a{
	margin-right:19px ;
	margin-left: 36px;
	font-size: 14px;
	color: #ffffff;
}
.user .left ul li a h3{
	display: inline-block;
	font-size: 16px;
	color: #ffffff;
}
.user .left ul li span{
	margin-left: 68px;
}

.temp .prrv{
	/* display: none; */
	position: absolute;
	left: 15px;
	top:258px ;
	z-index: 3;
	/* margin-top: 228px;
	margin-left: 10px; */
	float: left;
	width: 45px;
	height: 44px;
	background-color: pink;
	background-image: url("../images/sprites.png");
	background-position: 13px -60px;
	vertical-align: middle;
	background-color: #000000;
	opacity: 0.2;
	border-radius: 22px;
}
.temp .next{
	/* display: none; */
	position: absolute;
	left: 935px;
	top: 258px;
	z-index: 3;
	/* margin-top: 228px;
	margin-left: 10px; */
	float: right;
	width: 45px;
	height: 44px;
	background-color: pink;
	background-image: url("../images/sprites.png");
	background-position: -23px -60px;
	vertical-align: middle;
	background-color: #000000;
	opacity: 0.3;
	border-radius: 22px;
}
.temp{
	float: left;
	position: relative;
	height: 500px;
	width: 990px;
	overflow: hidden;
}
.temp .s1{
	position: absolute;
	left: 0;
	top: 0;
	display: flex;
	width: 400%;
	
}
.temp .s1 li{
	/* display: none; */
	/* float: left; */
}
.temp .s1 li img{
	float: left;
	z-index: 1;
	width: 990px;
	height: 500px;
}
.temp ol {
	position: absolute;
	left: 450px;
	bottom:31px;
	
	width: 150px;
	height: 10px;
}
.temp ol li{
	float: left;
	margin-right:15px ;
	border-radius: 50%;
	width: 10px;
	height: 10px;
	cursor: pointer;
	background-color: rgba(255,255,255, 0.4);
}
.temp ol .content{
	background-color: orange;
}

/* 新鲜好物 */
.goods .hd{
	height: 114px;
	line-height: 114px;
	color: #333333;
}

.goods .hd h2{
		float: left;
		font-size: 29px;
		font-weight: 400;
		height: 114px;
}

.goods .hd h2 span{
	margin-left: 34px;
	font-size: 16px;
	color: #999;
}

.goods .hd a{
	float: right;
	color: #999;
}
.goods .hd a::after{
	display: inline-block;
	content: '';
	margin-left: 13px;
	width: 7px;
	height: 13px;
	background-image: url("../images/sprites.png");
	background-position: 0 -110px;
	vertical-align: middle;
	
}

/* 内容 */
.goods .bd li{
	position: relative;
	float: left;
	margin-right: 8px;
	 width: 304px;
	 height: 405px;
	 background-color: #f0f9f4;
	 text-align-last: center;
 }
 
 .goods .bd li img{
	 width: 304px;
	 height: 305px;
 }
 
.goods .bd li:last-child{
	margin-right: 0;
}

  .goods .bd li span{
	  display: inline-block;
	  margin-top:20px ;
	  margin-bottom:;
	  
	  font-weight: 400;
  }
  
 .goods .bd li div{
	 font-size: 17px;
	 color: #9a2e1f;
 }
 
 .goods .bd li div span{
	 font-size: 23px;
	 color: #9a2e1f;
 }
 
  .goods .bd li a b{
	  position: absolute;
	  left: 17px;
	  top: 18px;
	  width: 28px;
	  height: 51px;
	  border: 1px solid #27ba9b;
	  border-radius: 5px;
	  font-size: 18px;
	  color: #27ba9b;
	  font-weight: 400;
	  text-align: center;
  }
 /* 生鲜 */
.shengxian .hd{
	height: 89px;
	line-height: 89px;
}
.shengxian .hd h2{
	float: left;
	font-size: 29px;
	font-weight: 400;
}
.shengxian .hd .more{
	float: right;
	color: #999;
}
.shengxian .hd ul{
	float: right;
}

.shengxian .hd li{
	float: right;
	margin-right: 20px;
}

.shengxian .hd li a:hover{
	background-color: #27ba9b;
}

.shengxian .hd .more::after{
	/* 清除浮动不会使其变成行内块 */
	display: inline-block;
	content: '';
	margin-left: 13px;
	width: 7px;
	height: 13px;
	background-image: url("../images/sprites.png");
	background-position: 0 -110px;
	vertical-align: middle;
}

.shengxian .bd .left img{
	    float: left;
	    width: 242px;
		height: 617px;
		margin-bottom: 40px ;
}

.shengxian .bd .left li{
		float: left;
	    width: 205px;
		height: 292px;
		margin-right: 10px;
		margin-left: 29px;
		
		text-align: center;
		margin-top:10px ;
}

.shengxian .bd .left li img{
		float: left;
		width: 205px;
		height: 182px;
		background-color: #ffffff;
}

.shengxian .bd .left li div{
	margin-top:10px ;
	font-size: 14px;
	color: red;
}
	
.shengxian .bd .left li div span{
	font-size: 20px;
	color: red;
}



/* .bd li img{
	float: left;
	 width: 305px;
	 height: 305px;
} */

/* .y1 span{
	margin-left: 34px;
	font-size: 16px;
	color: #999999;
}
.y1 a{
	height: 13px;
	float: right;
	font-size: 16px;
	color: #999999;
	background-image: url("../images/sprites.png");
} */
/* .t1{
	height: 340px;
	background-color: #333;
}
.s1{
	float: left;
	line-height: 58px;
	padding-left: 130px;
}
.s2{
	float: right;
	width: 128px;
	height: 58px;
	
	background: url("../images/sprites.png");
	background-position: -58px -58px;
	vertical-align: middle;
    margin-right:296px;
	color: #ccc;
}

.s3{
	margin-top:60px;
	margin-bottom: 28px;
	float: left;
	 margin-right:296px;
	 color: #ccc;
}

.s4{
	margin-top:60px;
	margin-bottom: 28px;
	float: left;
	margin-right:296px;
	color: #ccc;
} */

